.env

# --- Python / virtualenv ---
.vscode/
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyd

# --- Jupyter ---
.ipynb_checkpoints/

# --- Dataset ---
machine-learning/data/
machine-learning/outputs/

# --- Training logs / models ---
**/*.tfevents.*
**/*.h5
**/*.keras
**/saved_model/
**/saved_models/